* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.wrapper {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  perspective: 100px;
  transform-style: flat;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100%;
  background-image: url('../img/bg.jpg');
  background-color: rgb(90, 154, 228);
  font-size: 18px;
  color: #222;
  overflow: hidden;
}

.window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(222, 227, 231, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  width: 500px;
  min-height: 400px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.22);

  transform-origin: bottom;
  perspective: 850px;
  perspective-origin: left center;
  animation: fadeInWindow 1.2s ease-in-out forwards;
}
.input__city {
  text-transform: uppercase;
  background-color: transparent;
  padding: 5px 10px;
  width: 50%;
  caret-color: #fff;
  text-align: center;
  color: rgb(255, 255, 255);
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0);
  }
  &:focus {
    outline: none;
  }
}
.city {
  min-height: 30px;
  width: 80%;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
  font-weight: 600;
  margin: 20px 0;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  opacity: 0.85;
  animation: fadeInCity 1.5s ease-in-out forwards;
}

.temperature {
  position: relative;
  font-size: 56px;
  font-weight: 700;
  margin: 20px 0;
  color: rgb(255, 255, 255);
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;

  &::after {
    content: '°С';
    font-size: 26px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    display: block;
    position: absolute;
    top: 0px;
    right: -32px;
  }
}
.description {
  min-height: 30px;
  width: 80%;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
  font-weight: 600;
  margin: 5px 0 10px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  opacity: 0.85;
}

.weath {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon {
  img {
    width: 120px;
  }
}

@keyframes fadeInCity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.85;
  }
}
@keyframes fadeInWindow {
  0% {
    // opacity: 0;
    transform: scale(0.9) rotate3d(1, 0, 0, 8deg);
  }
  100% {
    // opacity: 1;
    transform: scale(1) rotate3d(1, 0, 0, 0deg);
  }
}
